<!-- 共通ページ -->
<%= render partial: 'side', locals: { user: @target_user, book: @book } %>
   
<!-- ユーザ投稿一覧 -->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      
      <table class="table table-hover table-inverse">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
        <tbody>
          <td><%= image_tag book.user.get_profile_image(100,100) %></td>
          <td><%= link_to book_path(book.id) do %>
              <span><%= book.title %></span></td>
          <td><span><%= book.body %></span></td>
        </tbody>
        <% end %>
        <% end %>
      </div>
      </table>
    </div>
  </div>
</div>        