<!-- 部分テンプレート呼び出し -->
<%= render partial: 'users/side', locals: { user: current_user, book: @book } %>


<h1>Books</h1>

<% @books.each do |book| %>
<div>

  <%= image_tag book.user.get_profile_image(100,100) %>

    <%= link_to book_path(book.id) do %>
      <p>Title</p>
    <% end %>

    <span><%= book.title %></span>

  <p>Opinion</p>
  <span><%= book.body %></span>
</div>
<% end %>